


.game-background {
    max-width: 1280px;
}

.game-background .chessboar {
    background-image: url("../../../resource/background.png");
    background-repeat: no-repeat;

    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.game-background .chess {
    position: relative;
    z-index: 100;
}